.home {
  padding-top: 40px;
  width: 500px;
  margin: 0 auto;

  .homeTitle {
    margin: 0;
    padding: 0;
    height: 240px;
    border: solid 2px #ccc;
    border-radius: 24px;
    text-align: center;
  }

  .goalItem {
    margin:0;
    border-radius: 24px;
    text-align: center;
    cursor:pointer;
    background:#e0e5ec;
    height: 140px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease;
    padding:30px;
  }

  .goal {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .restDay{
    margin:0;
    padding:0;
    position:absolute;
    top:4px;
    right:20px;
  }

  .item {
    margin: 40px auto;
    height: 140px;
    text-align: center;
    background: #333;
    border-radius: 24px;
    line-height: 140px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    /* 影の変化をスムーズに */
  }

  .link {
    text-decoration: none;
  }

  .black{
    color:black;
  }

  .English{
    color:black;
    background-color:rgb(242, 242, 109);
  }

  .history{
    color:black;
    background-color:rgb(248, 157, 72);
  }

  .item:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), -10px -10px 20px #ffffff;
  }

  .goalItem:hover,.history:hover,.English:hover{
    box-shadow:10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
  }
}

@media(max-width:500px){
  .home{
    width: 88vw;
  }
}
